<ion-content>
  <div style="height: 80%; width: 100%">
    <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
      <map-marker
        *ngIf="markerPosition"
        [position]="markerPosition"
        [options]="markerOptions"
        [icon]="{ url: 'assets/icons/icons8-truck-16.png' }"
      ></map-marker>
      <map-marker
        [position]="markerDestiny"
        [options]="markerOptions"
      ></map-marker>
    </google-map>
  </div>
  <div style="display: flex; align-items: center">
    <ion-label style="flex: 1">
      <h1>{{ receivedData.NomCliente }}</h1>
      <h3>Direccion: {{ receivedData.Direccion }}</h3>
      <h3>Telefono: {{ receivedData.Telefono }}</h3>
      <h3>Distancia: {{ cambioDistancias | number : "1.0-0" }}</h3>
    </ion-label>
    <ion-button [routerLink]="['../index']">
      <ion-icon name="exit-sharp"></ion-icon>
    </ion-button>
  </div>
</ion-content>
