<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Rutas </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let item of listado">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Orden {{ item.Orden }}</ion-card-title>
        <ion-card-subtitle>{{ item.NomCliente }}</ion-card-subtitle>
        <ion-card-subtitle
          >{{ item.Contacto }}. Tel : {{ item.Telefono }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ item.Direccion }}
      </ion-card-content>

      <ion-button fill="clear" (click)="navigateToDestination(item)"
        >Tomar Orden</ion-button
      >
    </ion-card>
  </ion-item>
</ion-content>
